{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <!--img src="{{ url_for('static', filename='img/azhar_logo.png') }}" alt="شعار الأزهر الشريف" class="img-fluid mb-4" style="max-width: 200px;"-->
            <h1>  المشروع القومى للياقة البدنية بالازهر الشريف </h1>
            <p class="lead">برمجة  " معلم تربية رياضية بمنطقة البحيرة الازهرية " انور حسن حرفوش</p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-3 text-center">
            <!--img src="{{ url_for('static', filename='img/azhar_logo.png') }}" alt="شعار الأزهر الشريف" class="img-fluid mb-4" style="max-width: 200px;"-->
            <p class="lead">يمكنك استخدام شريط التنقل أعلى الصفحة للوصول إلى جميع وظائف النظام</p>
        </div>
    </div>
</div>
{% endblock %}